<form action="/themes/create" method="post">
<div class="mb-3">
    <label for="themeName" class="form-label">Theme Name</label>
    <input type="text" class="form-control" id="themeName" name="themeName" placeholder="Angular">
</div>
    <div class="mb-3">
        <label for="created_at" class="form-label">Created At</label>
        <input type="text" class="form-control" id="created_at" name="created_at" value="Nov 07 2020 09:19:59 GMT+0200 (Eastern European Standard Time)">
    </div>
    <div>
        <button class="btn btn-primary">Create Theme</button>
    </div>
</form>
